/* CSS Document */
body{
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    display: block;
    overflow-x: hidden;
}

#header{
    background-color: #000000;
    width: 100%;
    height: 108px;
    position: relative;
    z-index: 3;
}

#header_text_section{
    width: 960px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
    
#login_button{
    background-color: #FFFFFF;
    width: 140px;
    height: 42px;
    position: relative;
    float: right;
    cursor: pointer;
}

#login_button_text{
    text-align: center;
    font-family: "deliciousroman";
    font-size: 16px;
}

#login_button:hover #login_button_text{
    text-decoration: underline;
}

#login_button:hover #login_box{
    display: block;
}

#login_box{
    background-color: #FFFFFF;
    width: 230px;
    height: 170px;
    position: absolute;
    right: 0px;
    top: 42px;
    display: none;
    text-decoration: none;
}

#login_header{
    width: 190px;
    margin-left: 20px;
    margin-top: 20px;
    text-align: left;
    position: relative;
    font-family: "deliciousroman";
    font-size: 16px;
    text-decoration: none;
}

.login_textbox{
    background-color: #F6F6F6;
    border: none;
    width: 190px;
    position: relative;
    margin-left: 20px;
    margin-top: 10px;
    height: 30px;
}

#login_or_register{
    width: 190px;
    height: 30px;
    position: relative;
    margin-left: 20px;
    margin-top: 10px;
}

#login_button_2{
    background-color: #000000;
    width: 80px;
    height: 30px;
    position: relative;
    float: left;
    text-align: center;
    font-family: "deliciousroman";
    font-size: 16px;
    cursor: pointer;
    color: #FFFFFF;
}

#or_text{
    width: 30px;
    height: 30px;
    position: relative;
    float: left;
    text-align: center;
    font-family: "deliciousroman";
    font-size: 16px;
}

#register_button{
    width: 80px;
    height: 30px;
    position: relative;
    float: left;
    text-align: center;
    font-family: "deliciousroman";
    font-size: 16px;
    cursor: pointer;
    color: #000000;
}

#login_button_2:hover, #register_button:hover{
    text-decoration: underline;
}

.vertically_centred{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#in_designer{
    width: 230px;
    height: 42px;
    float: right;
    text-align: center;
    font-family: "deliciousroman";
    font-size: 13px;
    color: #FFFFFF;
}

#top_menu_bar{
    background-color: #000000;
    width: 100%;
    height: 44px;
    position: relative;
    z-index: 2;
    border-top: 1px solid #222222;
}

#top_menu_container{
    width: 960px;
    max-width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.top_menu_option{
    width: 12.5%;
    height: 100%;
    position: relative;
    float: left;
    cursor: pointer;
}

.top_menu_left_seperator_hider{
    background-color: #222222;
    width: 1px;
    height: 100%;
    position: absolute;
    left: -1px;
    top: 0px;
    display: none;
}

.top_menu_option_text{
    text-align: center;
    font-family: "deliciousroman";
    font-size: 15px;
    color: #FFFFFF;
    background-image: url(../images/top_menu_divider.png);
    background-position: center right;
    background-repeat: no-repeat;
}

.top_menu_dropdown{
    background-color: #222222;
    width: 215px;
    height: auto;
    position: absolute;
    left: 0px;
    top: 44px;
    display: none;
    padding-top: 7px;
    padding-bottom: 7px;
}

.top_menu_dropdown_item{
    width: 190px;
    position: relative;
    margin-left: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #FFFFFF;
    font-family: "deliciousroman";
    font-size: 15px;
    cursor: pointer;
}

.top_menu_dropdown_item a:link, .top_menu_dropdown_item a:visited{
    text-decoration: none;
    color: #FFFFFF;
}

.top_menu_dropdown_item a:hover{
    text-decoration: underline;
    color: #FFFFFF;
}

.top_menu_option:hover{
    background-color: #222222;
}

.top_menu_option:hover .top_menu_left_seperator_hider{
    display: block;
}

.top_menu_option:hover .top_menu_option_text{
    background-image: none;
}

.top_menu_option:hover .top_menu_dropdown{
    display: block;
}

#homepage_main_image_container{
    width: 940px;
    height: auto;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    position: relative;
}

#homepage_main_image{
    width: 100%;
    position: relative;
}

#homepage_main_image_link{
    width: 36.7%;
    height: 36.2%;
    position: absolute;
    left: 6.1%;
    top: 33.5%;
    cursor: pointer;
}

#homepage_quote_container{
    width: 940px;
    max-width: 100%;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#homepage_quote{
    width: 100%;
    position: relative;
}

#homepage_keyline_left{
    background-image: url(../images/keyline.png);
    width: 124px;
    height: 1px;
    position: absolute;
    left: -111px;
    top:40px;
}

#homepage_keyline_right{
    background-image: url(../images/keyline.png);
    width: 124px;
    height: 1px;
    position: absolute;
    right: -111px;
    top:40px;
}

#links_container{
    width: 940px;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    position: relative;
    overflow: hidden;
    display: inline-block; /* Necessary to trigger "hasLayout" in IE */
    display: block; /* Sets element back to block */
}

.link_section{
    width: 32%;
    margin-left: 0%;
    margin-right: 2%;   
    position: relative;
    float: left;
}

.link_image{
    width: 100%;
    position: relative;
}

.link_title{
    width: 100%;
    height: 57px;
    text-align: center;
    font-family: "deliciousroman";
    font-size: 28px;
    color: #000000;
}

.link_keyline{
    width: 100%;
    height: 1px;
    background-image: url(../images/keyline_2.png);
}

.link_text{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    font-family: "deliciousroman";
    font-size: 15px;
    color: #000000;
}

.find_out_more{
    width: 100%;
    text-align: center;
    font-family: "deliciousroman";
    font-size: 15px;
    color: #000000;
    font-weight: bold;
    position: relative;
}

.find_out_more a:link, .find_out_more a:visited{
    color: #000000;
    text-decoration: none;
}

.find_out_more a:hover{
    color: #000000;
    text-decoration: underline;
}

.right_arrow{
    background-image: url(../images/small_right_arrow.png);
    background-size: 100% 100%;
    width: 7px;
    height: 9px;
    position: absolute;
    left: 50%;
    top: 4px;
    margin-left: 60px;
}

#bottom_bar{
    background-color: #000000;
    width: 100%;
    height: 285px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
}

#product_page_bottom_bar{
    background-color: #FFFFFF;
    width: 100%;
    height: 285px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
}

#bottom_bar_container{
    width: 940px;
    height: 270px;
    max-width: 100%;
    top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-top: 4px solid #222222;
    position: relative;
    display:block;
}

.bottom_bar_section{
    width: 22%;
    margin-left: 0%;
    margin-right: 4%;   
    position: relative;
    float: left;
}

.bottom_bar_section_title{
    width: 100%;
    margin-top: 20px;
    height: 28px;
    border-bottom: 2px solid #222222;
    position: relative;
}

.product_page_bottom_bar_section_title{
    background-image: url(../images/product_page_keyline.png);
    background-repeat: repeat-x;
    background-position: bottom;
    width: 100%;
    margin-top: 20px;
    height: 30px;
    position: relative;
}

.bottom_bar_section_title_text{
    width: 100%;
    bottom: 3px;
    text-align: left;
    font-family: "deliciousroman";
    font-size: 24px;
    line-height: 105%;
    color: #222222;
    position: absolute;
}

.bottom_bar_link{
    width: 100%;
    margin-top: 15px;
    text-align: left;
    font-family: "deliciousroman";
    font-size: 17px;
    color: #222222;
}
   
.bottom_bar_link a:link, .bottom_bar_link a:visited{
    color: #222222;
    text-decoration: none;
}

.bottom_bar_link a:hover{
    color: #222222;
    text-decoration: underline;
} 

#product_page_main_section{
    width: 940px;
    height: auto;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
    display: inline-block; /* Necessary to trigger "hasLayout" in IE */
    display: block; /* Sets element back to block */
}

#product_page_images_container{
    width: 48%;
    position: relative;
    float: left;
}

#product_page_text_container{
    width: 48%;
    position: relative;
    float: right;
}

#product_page_main_image_box{
    width: 100%;
    height: 460px;
    background-color: #000000;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#product_page_main_image{
    background-image: url(../images/large_dress_image.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 93%;
    height: 93%;
    position: absolute;
    left: 3.5%;
    top: 3.5%;
}
 
#product_page_thumbnails_container{
    width: 100%;
    height: 144px;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
} 

.product_page_thumbnail_box{
    width: 30%;
    height: 100%;
    margin-right: 5%;
    background-color: #000000;
    position: relative;
    float: left;
}

.product_page_thumbnail_image{
    background-image: url(../images/thumbnail.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 93%;
    height: 93%;
    position: absolute;
    left: 3.5%;
    top: 3.5%;
    cursor: pointer;
}
