/* CSS Document */
body{
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    display: block;
}

#header{
    background-color: #000000;
    width: 100%;
    height: 108px;
    position: relative;
    z-index: 3;
}

#header_text_section{
    width: 960px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
    
#login_button{
    background-color: #FFFFFF;
    width: 140px;
    height: 42px;
    position: relative;
    float: right;
}

#login_button_text{
    text-align: center;
    font-family: "MuseoSans-500";
    font-size: 13px;
    cursor: pointer;
}

#login_button_text:hover{
    text-decoration: underline;
}

#login_box{
    background-color: #FFFFFF;
    width: 230px;
    height: 170px;
    position: absolute;
    right: 0px;
    top: 42px;
    display: none;
    text-decoration: none;
}

#login_header{
    width: 190px;
    margin-left: 20px;
    margin-top: 20px;
    text-align: left;
    position: relative;
    font-family: "MuseoSans-500";
    font-size: 13px;
    text-decoration: none;
}

.login_textbox{
    background-color: #F6F6F6;
    border: none;
    width: 190px;
    position: relative;
    margin-left: 0px;
    margin-top: 10px;
    height: 30px;
}

#login_or_register{
    width: 190px;
    height: 30px;
    position: relative;
    margin-left: 20px;
    margin-top: 10px;
}

#login_button_2{
    background-color: #000000;
    width: 80px;
    height: 30px;
    position: relative;
    float: left;
    text-align: center;
    font-family: "MuseoSans-500";
    font-size: 13px;
    cursor: pointer;
    color: #FFFFFF;
}

#or_text{
    width: 30px;
    height: 30px;
    position: relative;
    float: left;
    text-align: center;
    font-family: "MuseoSans-500";
    font-size: 13px;
}

#register_button{
    width: 80px;
    height: 30px;
    position: relative;
    float: left;
    text-align: center;
    font-family: "MuseoSans-500";
    font-size: 13px;
    cursor: pointer;
    color: #000000;
}

#login_button_2:hover, #register_button:hover{
    text-decoration: underline;
}

.vertically_centred{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#in_designer{
    width: 215px;
    height: 42px;
    float: right;
    text-align: center;
    font-family: "MuseoSans-500";
    font-size: 13px;
    color: #FFFFFF;
}

#top_menu_bar{
    background-color: #000000;
    width: 100%;
    height: 44px;
    position: relative;
    z-index: 2;
    border-top: 1px solid #222222;
}

#top_menu_container{
    width: 960px;
    max-width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.top_menu_option{
    width: 12.5%;
    height: 100%;
    position: relative;
    float: left;
    cursor: pointer;
}

.top_menu_left_seperator_hider{
    background-color: #222222;
    width: 1px;
    height: 100%;
    position: absolute;
    left: -1px;
    top: 0px;
    display: none;
}

.top_menu_option_text{
    text-align: center;
    font-family: "MuseoSans-500";
    font-size: 14px;
    color: #FFFFFF;
    background-image: url(../images/top_menu_divider.png);
    background-position: center right;
    background-repeat: no-repeat;
}

.top_menu_dropdown{
    background-color: #222222;
    width: 215px;
    height: auto;
    position: absolute;
    left: 0px;
    top: 44px;
    display: none;
    padding-top: 7px;
    padding-bottom: 7px;
}

.top_menu_dropdown_item{
    width: 190px;
    position: relative;
    margin-left: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #FFFFFF;
    font-family: "MuseoSans-500";
    font-size: 12px;
    cursor: pointer;
}

.top_menu_dropdown_item a:link, .top_menu_dropdown_item a:link{
    text-decoration: none;
    color: #FFFFFF;
}

.top_menu_dropdown_item a:hover{
    text-decoration: underline;
    color: #FFFFFF;
}

.top_menu_option:hover{
    background-color: #222222;
}

.top_menu_option:hover .top_menu_left_seperator_hider{
    display: block;
}

.top_menu_option:hover .top_menu_option_text{
    background-image: none;
}

.top_menu_option:hover .top_menu_dropdown{
    display: block;
}
